<a href="https://colab.research.google.com/github/aznagyouness/AAA/blob/main/get_column_letter_and_formula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from openpyxl.utils import get_column_letter
#print(get_column_letter(1))
t = {}

for i in range(1,28):
  #print("the carracter that corespond to ",i, "  is : ",get_column_letter(i))
  t[get_column_letter(i)]=i
print(t)

def find_value(a):
  #print("the value of that letter is : ",t[a])
  return t[a]


b=find_value("O")
c1=get_column_letter(b)
c2=get_column_letter(b+1)

a=73
print("MOULAY RACHID",'=',c1+str(a),"+",c1+str(a+12),"+",c2+str(a+24),"+",c2+str(a+36))
a = 25
print("sidi othmane",'=',c1+str(a),"+",c1+str(a+12),"+",c2+str(a+24),"+",c2+str(a+36))

A
{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26, 'AA': 27}
MOULAY RACHID = O73 + O85 + P97 + P109
sidi othmane = O25 + O37 + P49 + P61