<a href="https://colab.research.google.com/github/aznagyouness/AAA/blob/main/pandas_soufiane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

italicized text

In [ ]:
df = px.data.stocks()
df.head()
df.info()
df.describe()

create a data frame

In [ ]:
L = [[11,21,31,41]]*3
df = pd.DataFrame(L, index= ['i1','i2','i3'], columns= ['c1','c2','c3','c4'])
df.head()

    c1  c2  c3  c4
i1  11  21  31  41
i2  11  21  31  41
i3  11  21  31  41

READ CSV FILE

In [11]:
%ls
df1 = pd.read_csv("/content/sample_data/california_housing_train.csv")
df1.head()
#!pip install pandas
#!pip install --upgrade xlrd

sample_data/

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

READ EXCEL FILE

In [16]:
df2 = pd.read_excel('/content/sample_data/file_example_XLS_100.xls')
df2.keys()

Index([0, 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id'], dtype='object')

In [17]:
df2.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [18]:
df2.columns

Index([0, 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id'], dtype='object')

In [20]:
df2.index

RangeIndex(start=0, stop=100, step=1)

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   0           100 non-null    int64
 1   First Name  100 non-null    object
 2   Last Name   100 non-null    object
 3   Gender      100 non-null    object
 4   Country     100 non-null    object
 5   Age         100 non-null    int64
 6   Date        100 non-null    object
 7   Id          100 non-null    int64
dtypes: int64(3), object(5)
memory usage: 6.4+ KB

In [22]:
df2.shape

(100, 8)

In [ ]:
df2.tail(10)

In [ ]:
df2['Gender']

In [ ]:
df2['Gender'][1]

In [ ]:
x= df2.values
x[:5,:]

In [33]:
del df2['Country']

In [34]:
df2.columns

Index([0, 'First Name', 'Last Name', 'Gender', 'Age', 'Date', 'Id'], dtype='object')

In [35]:
y = df2.pop('Last Name')

In [ ]:
df2.head(), y

In [ ]:
len(df2)

In [ ]:
type(df2)

In [40]:
df2['Date'] = pd.to_datetime(df2['Date'])

In [ ]:
df2.info()

In [44]:
pd.unique(df2['Gender'])

array(['Female', 'Male'], dtype=object)

In [52]:
a= pd.unique(df2['Age'])
a

array([32, 25, 36, 58, 24, 56, 27, 40, 28, 39, 38, 26, 31, 46, 37, 52, 42,
       21, 29, 23, 41, 34, 35])

In [56]:
#a= pd.unique(df2['Gender'])
unique, counts = np.unique(df2['Gender'], return_counts=True)
dict(zip(unique, counts))

{'Female': 76, 'Male': 24}

In [57]:
df2.index.is_unique

True

In [ ]:
df2.sum() #gives you the sum of all columns on array
# pro()   mean()     cout()

In [152]:
df2.groupby('Gender').sum()  
# the sum of columns as number by Gender

           0   Age      Id
Gender
Female  3766  2578  377504
Male    1284   748   94268

In [156]:
df2.groupby('Gender').aggregate({'Age':'min','Id':'max'})

        Age    Id
Gender
Female   23  9654
Male     21  8514

In [ ]:
y = pd.DataFrame([[11,12,33,44]]*2, index= ['y1','y2'], columns=['c1','c2','c3','c4'])
w = pd.DataFrame([[1,2,3,4]]*2, index= ['w1','y2'], columns=['d1','d2','d3','c4'])
w
pd.concat([y,w]) #colonne en commun like axis = 0

In [ ]:
pd.concat([y,w],axis=1) #ligne en commun

In [ ]:
pd.concat([y,w], join= 'inner')

In [ ]:
pd.concat([y,w], join= 'outer')

with ignore index

In [ ]:
pd.concat([y,w], ignore_index=True) #colonne en commun

In [ ]:
pd.concat([y,w],axis=1, ignore_index=True) #Ligne en commun

Merge

In [ ]:
L ={'city':['casa', 'rabat','settat','beni mellal'],
    'humidity':[12,14,5,20]}
M = {'city':['casa', 'rabat','settat','berchid'],
    'tamperature':[50,60,25, 30]}
#y = []
L = pd.DataFrame(L)
M = pd.DataFrame(M)
pd.merge(L,M)        #fusionner par city

In [ ]:
pd.merge(L,M, on = 'city') # on oblige a prendre une colonne city

In [ ]:
pd.merge(L,M, on = 'city', how= 'outer') # all data commun or not

In [ ]:
pd.merge(L,M, on = 'city', how= 'inner') # intersection of data

In [ ]:
pd.merge(L,M, on = 'city', how= 'left') # all the L data and the M data that intersect with L

In [ ]:
pd.merge(L,M, on = 'city', how= 'right') # all the M data and the M data that intersect with M

In [ ]:
pd.merge(L,M, on = 'city', how= 'right', indicator= True) # where the data is comming

In [ ]:
pd.merge(L,L)

In [ ]:
pd.merge(L,L, on ='city')
# when merge find the same name of the columns it adds _x and _y

In [ ]:
pd.merge(L,L, on ='city', suffixes=('_left','_right'))
# humidity_x	humidity_y to replace them

In [ ]:
L.T

In [ ]:
L.stack()

In [ ]:
L.stack().index